
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    flex: 1;
}

/* HEADER */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* MENÚ */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* GRID PRINCIPAL */
.grid-principal {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

/* ASIDE */
aside {
    background-color: #8a8787;
    padding: 30px;
    border-radius: 5px;
}

/* CONTENIDO */
.contenido img {
    max-width: 100%;
    height: 300px;
    margin-top: 15px;
}

/* FOOTER */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .grid-principal {
        grid-template-columns: 1fr;
    }

    .menu {
        flex-direction: column;
    }
}
