/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    flex: 1;
}


header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* MENÚ */
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

/* INTRO */
.intro {
    width: 80%;
    margin: 30px auto;
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
}

/* GRID CONSOLAS */
.grid-consolas {
    width: 80%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.consola {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ccc;
}


.consola img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .grid-consolas {
        grid-template-columns: 1fr;
    }

    .intro {
        width: 95%;
    }
}
